.about {
  width: calc(100% - 2rem);
  min-height: 100vh;
  padding: 1rem;

  
  p {
    width: 600px;
    max-width: 80%;
    margin: auto;
    text-align: center;
  }

  .author {
    font-style: italic;
  }
}