.about {
  width: calc(100% - 2rem);
  min-height: 100vh;
  padding: 1rem;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    width: 600px;
    max-width: 80%;
    margin: auto;
  }

  .author {
    font-style: italic;
  }

  .scrolling-words-container {
    width: 370px;
    max-width: 80%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    margin: auto;
    font-family: 'Gontserrat';
    margin-bottom: 1rem;
    color: var(--author);

    @media (max-width: 640px) {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }

  .scrolling-words-box {
    height: 3rem;
    margin: auto;
    overflow: hidden;

    ul {
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 5s infinite;

      li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 3rem;
        list-style: none;

        @media (max-width: 640px) {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
          }
      }
    }
  }

  // Variables
  $item-count: 5;

  @keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {

      #{($i * 25) - 10%},
      #{$i * 25%} {
        transform: translateY(calc((-100% / $item-count) * $i));
      }
    }
  }
}