.articleDetails {
  max-width: 80%;
  width: 800px;
  min-height: 100vh;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;

  .subject-hover {
    display: block;
    position: absolute;
    height: 24px;
    top: 75px;
    right: calc(50vw - 100px);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #00000035;
    text-decoration: none;
    padding: 0;

    p {
      padding: 0;
      width: 100%;
      text-align: center;
      color: var(--text);
    }

    .circle {
      width: 0;
    }
  }

  .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    img {
      width: 250px;
      height:fit-content;
      border-radius: 8px;
      margin-right: 8px;
      align-self: center;
    }

    .details {
      width: 100%;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        margin: 0;
      }
    }
  }

  .author {
    display: flex;
    flex-direction: row;
    width: 300px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 #00000035;
    padding: 1rem;
    border-radius: 32px;
    text-decoration: none;
    color: var(--text);
    background-color: var(--navbar-bg);

    &:hover {
      img {
        transform: scale(1.025);
      }
    }

    .authorImg {
      width: 96px;
    
      img {
        border-radius: 8px;
        transition: all ease-in-out 0.3s;
      }
    }

    @media (max-width: 640px) {
      width: 200px;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .authorImg {
        margin-top: 8px;
      }
    }
  }

  .content {
    img {
      border-radius: 20px;
    }

    h2 {
      margin: 0 0 10px;
      font-size: 1.6em;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 1.18;
    }

    ul,
    ol,
    p {
      margin: 0 auto 15px;
      font-size: 1em;
      letter-spacing: 0.4px;
      line-height: 1.2;
    }
  }

  img {
    max-width: 80%;
    margin: auto;
  }
}