.categories {
  scroll-behavior:smooth;
  width: calc(100% - 2rem);
  padding: 1rem;

  .subjects {
    width: 100%;

    .subject {
      width: 100%;
      margin-bottom: 1rem;
      
      .previews {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        .articlePreview {
          width: 200px;
          text-align: center;
          border-radius: 8px;
          padding: 8px;
          transition: ease-in-out 0.2s all;
          margin-right: 8px;

          a {
            text-align: center;
            text-decoration: none;
            color: black;

            img {
              width: 192px;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }

  .articleScroller {
    position: fixed;
    top: 65px;
    right: 0;
    background-color: #202020e3;
    padding: 8px;

    a {
      text-decoration: none;
    }

    .subject {
      display: flex;
      align-items: center;
      padding-top: 2px;
      padding-bottom: 2px;

      p {
        padding-left: 5px;
        text-decoration: none;
        color: white;
      }
    
      .circle {
        position: fixed;
        right: 177px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    
  }

  .bg2BB760 {
    background-color: #2bb760;

    &-light {
      background-color: #2bb76040;
    }
    &-light:hover { 
      background-color: #2bb76060;
    }
  }

  .bg9C2111 {
    background-color: #9C2111;
    &-light {
      background-color: #9C211140;
    }
    &:hover {
      background-color: #9C211160;
    }
  }

  .bgBFAA34 {
    background-color: #BFAA34;
  &-light {
      background-color: #BFAA3440;
    }
    &:hover {
      background-color: #BFAA3460;
    }
  }

  .bgC8792C {
    background-color: #C8792C;
  &-light {
      background-color: #C8792C40;
      }
    &:hover {
      background-color: #C8792C60;
    }
  }

  .bg622058 {
    background-color: #622058;
    &-light {
      background-color: #62205840;
    }
    &:hover {
      background-color: #62205860;
    }
  }

  .bg376B70 {
    background-color: #376B70;
    &-light {
      background-color: #376B7040;
    }
    &:hover {
      background-color: #376B7060;
    }
  }

  .bgAF70BD {
    background-color: #AF70BD;
    &-light {
      background-color: #AF70BD40;
    }
    &:hover {
      background-color: #AF70BD60;
    }
  }

  .bgCDCEED {
    background-color: #CDCEED;
    &-light {
      background-color: #CDCEED40;
    }
    &:hover {
      background-color: #CDCEED60;
    }
  }

  .bg3E5FCA {
    background-color: #3E5FCA;
    &-light {
      background-color: #3E5FCA40;
    }
    &:hover {
      background-color: #3E5FCA60;
    }
  }
}

