.bg2BB760 {
  background-color: #2bb760;

  &-light {
    background-color: #2bb761ab;
  }

  &-light:hover {
    background-color: #2bb761c1;
  }
}

.bg9C2111 {
  background-color: #9C2111;

  &-light {
    background-color: #9C2111ab;
  }

  &-light:hover {
    background-color: #9C2111c1;
  }
}

.bgBFAA34 {
  background-color: #BFAA34;

  &-light {
    background-color: #BFAA34ab;
  }

  &-light:hover {
    background-color: #BFAA34c1;
  }
}

.bgC8792C {
  background-color: #C8792C;

  &-light {
    background-color: #C8792Cab;
  }

  &-light:hover {
    background-color: #C8792Cc1;
  }
}

.bg622058 {
  background-color: #622058;

  &-light {
    background-color: #622058ab;
  }

  &-light:hover {
    background-color: #622058c1;
  }
}

.bg376B70 {
  background-color: #376B70;

  &-light {
    background-color: #376B70ab;
  }

  &-light:hover {
    background-color: #376B70c1;
  }
}

.bgAF70BD {
  background-color: #AF70BD;

  &-light {
    background-color: #AF70BDab;
  }

  &-light:hover {
    background-color: #AF70BDc1;
  }
}

.bgACADED {
  background-color: #ACADED;

  &-light {
    background-color: #ACADEDab;
  }

  &-light:hover {
    background-color: #ACADEDc1;
  }
}

.bg3E5FCA {
  background-color: #3E5FCA;

  &-light {
    background-color: #3E5FCAab;
  }

  &-light:hover {
    background-color: #3E5FCAc1;
  }
}

.bgPERF {
  background-color: #3eca9e;

  &-light {
    background-color: #3eca9eab;
  }

  &-light:hover {
    background-color: #3eca9ec1;
  }
}