$border-height: 5px;

.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.noinvert {
  filter: invert(0%);
  -webkit-filter: invert(0%);
}

.spacer {
  height: 64px;
}

.topbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

.navbar {
  width: 100%;
  height: 64px;
  background-color: var(--navbar-bg);
  color: var(--text);
  transition: all ease-in-out 0.3s;
  z-index: 4;
  position: initial;

  font-family: 'Gontserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .spacer {
    height: 0;
  }

  .toggle-btn {
    visibility: hidden;
    z-index: 5;
  } 

  .dark-btn {
    position: fixed;
    top: 70px;
    right: 5px;
    width: 32px;
    height: 32px;

    @media (max-width: 640px) {
      top: 20px;
    }

    background-color: var(--navbar-bg);
    color: var(--text);
    outline: none;
    padding: 4px;
    border: 1px solid var(--navbar-bg);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #00000012;
    z-index: 5;

    .icon {
      width: 100%;
      height: 100%;
      background-image: var(--toggle-icon);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .up-btn {
    position: fixed;
    top: 106px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 5;

    @media (max-width: 640px) {
      top: 55px;
    }

    background-color: var(--navbar-bg);
    color: var(--text);
    outline: none;
    padding: 4px;
    border: 1px solid var(--navbar-bg);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #00000012;

    &:hover {
      cursor: pointer;
    }
  }

  .backdrop {
    display: none;
    right: 100vw;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: #00000082;
    transition: all ease-in-out 0.3s;

    &.show {
      right: 0;
    }
    &.hide {
      right: -100vw;
    }
  }

  .sideDrawer {
    background-color: var(--bg);
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    transition: all ease-in-out 0.3s;

    &.show {
      top: 64px;
    }
    &.hide {
      top: 100vh;
    }

    .pages {
      width: 200px;
      max-width: calc(100% - 16px);
      display: flex;
      flex-direction: column;
      padding: 8px;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: var(--text);
        height: 48px;
        min-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-child(1) {
          border-bottom: solid var(--nav-hover) 1px;
          border-top: solid var(--nav-hover) 1px;
        }

        &:nth-child(3)  {
          border-bottom: solid var(--nav-hover) 1px;
          border-top: solid var(--nav-hover) 1px;
        }
      }
    }

    .social-media {
      width: 196px;
      max-width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 1rem;
      

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    box-shadow: 0 2px 4px 0 #00000012;

    .logo {
      display: block;
      width: 144px;
      height: 50px;
      z-index: 3;

      a {
        display: block;
        width: 50px;
        height: 50px;
        
        background-image: var(--logo);
        background-repeat: no-repeat;
        background-size: contain;

        margin-left: 8px;
        //transition: all 0.2s ease-in-out;

        /*&:hover {
          transform: rotate(360deg);
        }*/
      }

      @media (max-width: 640px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px auto;
        transition: none;

        a{
          margin: auto;

          &:hover {
            transform: rotate(0deg);
          }
        }
      }
    }
    
    .pages {
      max-width: 70%;
      width: 480px;
      height: 100%;
      display: flex;
      justify-content: space-around;

      a {
        min-width: 128px;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 16px;
        text-decoration: none;
        color: var(--text);
        height: calc(100% - 40px);
        position: relative;
      
        &::after {
          position: absolute;
          transition: ease-in-out all 0.3s;
          content: '';
          width: 0;
          left: 50%;
          bottom: 0;
          height: 4px;
          background: var(--nav-hover);
        }

        &:hover {
          cursor: pointer;

          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    .social-media {
      width: 128px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 8px;

      a {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-left: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .settingsBinder {
        width: 32px;
        height: 32px;

        img {
          margin-left: 6px;
        }
      }
    }
  }

  @media (max-width: 640px) {
    .toggle-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    
      position: fixed;
      top: 20px;
      left: 12px;

      margin-top: 2px;
      height: 24px;
      width: 24px;
    
      background: transparent;
      border: none;
      outline: none;
    
      box-sizing: border-box;
      transition: all ease-in-out 0.3s;
      -webkit-transition: all ease-in-out 0.3s;
      visibility: visible;

      &:hover {
        cursor: pointer;
      }
      
      &-line {
        position: relative;
        width: 24px;
        height: 2px;
        background: var(--text);
        transition: all ease-in-out 0.3s;
        background-color: var(--nav-hover);
      }
    }

    .normal {
      top: 20px;
      left: 12px;
    }
    .side {
      top: 20px;
      left: 12px;
      z-index: 100;

      .top {
        transform: translate(0, 6px) rotate(45deg);
      }
      .middle {
        height: 0;
      }
      .bottom {
        transform: translate(0, -9px) rotate(135deg);
      }
    }

    .contents {
      flex-direction: column;

      a {
        width: 50px;
        margin: 6px auto;
        min-height: 72px;
        text-align: center;

        img {
          padding: 0;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .pages,
      .social-media {
        visibility: hidden;
      }
    }
  }
}

.settings {
  width: 24px !important;
  height: 24px !important;
  padding: 4px !important;
  border-radius: 0 !important;

  &:hover {
    cursor: pointer;
  }
}