* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}

:root {
  --navbar-bg: #ffffff;
  --bg: #ffffff;
  --text: #000000;
  --author: #343434;
  --footer-url: url('./../assets/images/waves/wave3.png');
  --toggle-icon: url('./../assets/images/moon.png');
  --logo: url('./../assets/images/logo-blue.png');
  --footer-primary: hsl(219, 33%, 64%);
  --shadow-colour: #0000004e;
  --nav-hover: #8499C1; //#9A69A6;
}

[data-theme="dark"] {
  --navbar-bg: #333333;//#222222;
  --bg: #5a5a5a; //#333333;
  --text: #f0f0f0;
  --author: #dedede;
  --toggle-icon: url('./../assets/images/sun.png');
  --logo: url('./../assets/images/logo-lilac.png');
  --footer-primary: #9A69A6;
  --shadow-colour: #0000004e; //#f2f2f232;
  --nav-hover: #9A69A6; //#8499C1;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  transition: all ease-in-out 0.3s;
  background-color: var(--bg);
  color: var(--text);

  @import "navbar";
  @import "footer";
  @import "home";
  @import "about";
  @import "categories";
  @import "profileDetails";
  @import "meetTheTeam";
  @import "articleDetails";
  @import "colours"; 
}

.subject-hover {
  position: fixed;
  width: 200px;
  height: 26px;
  right: -210px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #202020e3;
  border-radius: 4px;

  z-index: 1;

  transition: all ease 0.4s;
  transition-delay: -0.1s;

  @media (min-width: 640px) {
    &:hover {
      right: -10px;
  
      .circle {
        right: 191px;
      }
    }
  }
  
  p {
    padding-left: 5px;
    text-decoration: none;
    color: white;
  }

  .circle {
    position: fixed;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all ease 0.4s;
    transition-delay: -0.095s;
    box-shadow: 0 2px 4px 0 #0000004e;
  }
}

.articlePreview {
  width: 200px;
  height: 236px;
  position: relative;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  transition: ease-in-out 0.2s all;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  box-shadow: 0 2px 4px 0 var(--shadow-colour);
  display: grid;
  grid-template-areas: 
    "image"
    "details";
  grid-template-rows:
    128px
    100px;
  justify-self: center;

  &:hover {
    .top {
      transform: scale(1.025);
    }
  }

  .top {
    transition: ease-in-out 0.2s all;

    p {
      position: absolute;
      background-color: var(--footer-primary);
      color: black;
      padding: 4px;
      border-radius: 4px;
      z-index: 2;
      left: calc(50% - 25px);
    }
  }

  .articleDetail {
    grid-area: details;
    display: grid;
    width: 200px;
    min-width: 200px;
    height: 100px;
    margin-left: 0px;
    margin: 0;

    grid-template-areas:
      "title"
      "author";
    grid-template-rows: 
      80px
      20px;

    h2 {
      grid-area: title;
      width: 200px;
      font-size: larger;
      align-self: start;

      @media (max-width: 640px) {
        font-size:medium;
      }
    }
    p {
      grid-area: author;
      color: var(--author);
      font-style: italic;
    }
  }

  .img {
    grid-area: image;
    align-self: center;

    img {
      max-width: 192px;
      max-height: 128px;
      border-radius: 8px;
      transition: all ease-in-out 0.3s;
    }
  }
}

.noAuthor {
  grid-template-rows:
    128px 92px;

  .articleDetails {
    grid-template-areas:
      "title";
    grid-template-rows:
      92px;
  }
}