* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}

:root {
  --navbar-bg: #ffffff;
  --bg: #ffffff;
  --text: #000000;
  --author: #343434;
  --footer-url: url('./../assets/images/waves/wave3.png');
  --toggle-icon: url('./../assets/images/moon.png');
  --logo: url('./../assets/images/logo-blue.png');
  --footer-primary: #859ac1;
  --shadow-colour: #0000004e;
  --nav-hover: #8499C1; //#9A69A6;
  --primary: #9A69A6;

  --biochem: #2bb760;
  --phystech: #9C2111;
  --econ: #9f8e29;
  --human: #C8792C;
  --music: #712967;
  --art: #2c565a;
  --lit: #AF70BD;
  --pol: #6e70ce;
  --maths: #3E5FCA;
}

[data-theme="dark"] {
  --navbar-bg: #313131;//#222222;
  --bg: #414141; //#333333;
  --text: #f0f0f0;
  --author: #dedede;
  --toggle-icon: url('./../assets/images/sun.png');
  --logo: url('./../assets/images/logo-lilac.png');
  --footer-primary: #9A69A6;
  --shadow-colour: #0000004e; //#f2f2f232;
  --nav-hover: #9A69A6; //#8499C1;

  --phystech: #c53a27;
  --econ: #b49e25;
  --music: #b466a8;
  --art: #5dadb4;
  --pol: #ACADED;
  --maths: #6e8cf0;
}

[font-size="12"] {
  --article-size: 12px;
}

[font-size="16"] {
  --article-size: 16px;
}

[font-size="20"] {
  --article-size: 20px;
}

[font-size="24"] {
  --article-size: 24px;
}

[font-size="28"] {
  --article-size: 28px;
}

[dyslexia="1"] {
  --article-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[dyslexia="0"] {
  --article-font: 'Bitter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'Techna Sans';
  src: url(./../assets/fonts/TechnaSans-Regular.otf);
}

@font-face {
  font-family: 'Gontserrat';
  src: url(./../assets/fonts/Gontserrat-Regular.ttf);
}

body {
  font-family: 'Bitter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  transition: all ease-in-out 0.3s;
  background-color: var(--bg);
  color: var(--text);

  @import "navbar";
  @import "footer";
  @import "home";
  @import "about";
  @import "articles";
  @import "profileDetails";
  @import "meetTheTeam";
  @import "articleDetails";
  @import "colours"; 
  @import "settings";
  @import "bibliography";
}

h1 {
  font-family: 'Gontserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3 {
  font-family: 'Techna Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

.subject-hover {
  position: fixed;
  width: 200px;
  height: 26px;
  right: -210px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #202020e3;
  border-radius: 4px;

  z-index: 1;

  transition: all ease 0.4s;
  transition-delay: -0.1s;

  @media (min-width: 640px) {
    &:hover {
      right: -10px;
  
      .circle {
        right: 191px;
      }
    }
  }
  
  p {
    padding-left: 5px;
    text-decoration: none;
    color: white;
  }

  .circle {
    position: fixed;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all ease 0.4s;
    transition-delay: -0.095s;
    box-shadow: 0 2px 4px 0 #0000004e;
  }
}

.articlePreview {
  width: 200px;
  height: 256px;
  position: relative;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  transition: ease-in-out 0.2s all;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  box-shadow: 0 2px 4px 0 var(--shadow-colour);
  display: grid;
  grid-template-areas: 
    "image"
    "details";
  grid-template-rows:
    128px
    100px;
  justify-self: center;

  &:hover {
    .top {
      transform: scale(1.025);
    }
  }

  .issue {
    display: none; //Remove when have issue 2
    position: absolute;
    //background-color: var(--nav-hover);
    //color: var(--text);
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
    left: -5px;
    top: -5px;
    
    background-color: white;
    color: black;
    border: grey 1px solid;
  }

  .top {
    transition: ease-in-out 0.2s all;

    .video {
      position: absolute;
      background-color: var(--footer-primary);
      color: black;
      padding: 4px;
      border-radius: 4px;
      z-index: 2;
      left: calc(50% - 25px);
    }
  }

  .articleDetail {
    grid-area: details;
    display: grid;
    width: 200px;
    min-width: 200px;
    height: 130px;
    margin-left: 0px;
    margin: 0;

    grid-template-areas:
      "title"
      "author";
    grid-template-rows: 
      80px
      50px;

    h2 {
      grid-area: title;
      width: 200px;
      font-size: larger;
      align-self: start;

      @media (max-width: 640px) {
        font-size:medium;
      }
    }
    .authors {
      grid-area: author;
      color: var(--author);
      font-style: italic;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
  }

  .img {
    grid-area: image;
    align-self: center;

    img {
      object-fit: cover;
      width: 180px;
      height: 120px;
      border-radius: 8px;
      transition: all ease-in-out 0.3s;
    }
  }
}

.noAuthor {
  grid-template-rows:
    128px 92px;

  .articleDetails {
    grid-template-areas:
      "title";
    grid-template-rows:
      92px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  width: 100%;

  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #383636;
    border-radius: 50%;
    margin: auto;
    animation: spinner 1.5s linear infinite;
  }
}